
/*
*  TODO clen this up, remove unused styles
*/

body{
    margin: 0;
    padding: 0;
    z-index: 2;
}

#backImg{
    position: absolute;
    width: 100%;
    overflow: hidden;
    min-width: 1300px;
}

#topPage{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: #2e3440;
    margin: 0;
    padding: 0;
    position: relative;
    /*background-color: black;*/
}

#MOS_BOX{
    position: absolute;
    /*text-align: center;
    vertical-align: center;
    padding: 25%;*/
    top: 40%;
    left: 25%;
    width: 50%;
    height: 50%;

    /*
    text-align: center;
    margin-top: -25%;
    margin-left: -25%;*/
    text-align: center;
    /*background-color: black;*/

}

#MOS_LOGO{
    max-width: 100px;
    width: 30%;
    margin: 20px auto;
    margin-bottom: 30px;
    display: block;
}

#MOS{
    max-width: 400px;
    width: 100%;
    margin: auto 0;
}

#PA_BOX{
    width: 100%;
}

#PHYSOCL{
    width: 30%;
}

#ASTROSOCL{
    width: 10%;
}

#whatIsIt{
    transition: transform 1s ease-in-out 0.2s;
    position: absolute;
    width: 22%;
    top:25%;
    margin: 0;
    padding-left: 0px;
    left: -200px;
    transform: translate(200px, 0px);

}

#tickets{
    margin: 20px auto;
    width: 40%;
    display: block;
}

#tickets_circle{
    text-align: center;
    border-radius: 50%;
    background-color: #d08770ff;
    /*top: 25%;
    left: 60%;*/
    width: 100px;
    height: 100px;
    margin: 20px auto;
}


.parallelogramLeft {
    position: absolute;
    width: 90%;
    /*width: 250px;*/
    z-index: 1;

    /*height: 50%;*/
    border-bottom: 400px solid red;
    border-right: 80px solid transparent;
    margin-left: -20px;
    margin-top: -60px;
    padding: 30px;
}
.parallelogramLeftUnder {
    position: absolute;
    width: 95%;
    z-index: 0;

    /*height: 50%;*/
    border-bottom: 400px solid darkred;
    border-right: 80px solid transparent;
    margin-left: -20px;
    margin-top: -50px;
    padding: 30px;
}

.upper{
    position: relative;
    z-index: 4;
}

#h2{
    font-family: 'Roboto', sans-serif;
}

#p{
    font-family: 'Open Sans', sans-serif;
}

#TextL{
    padding-left: 30px;
    z-index: 4;
    position: absolute;
}

.section{
    width: 100%;
    min-height: 107vh;
    /*height: 107vh;*/
    background-color: #434c5eff;/*#434c5eff;*/
    text-align: center;
    margin: 0;
    padding: 40px 0;
    font-size: 18pt;

}

.section .s_heading{
    font-family: 'Roboto', sans-serif;
    color: #d8dee9ff;
    font-size: 24pt;

}

.circle_container{
    width: 80%;
    margin: 0 10%;
    /*height: 100%;*/
    text-align: center;
    font-size: 24pt;

}

.listOfSpeakers{
    vertical-align: top;

    width: 100%;
    height: auto;
    padding: 0px;
    color: #d8dee9ff;
    /*background-color: blue;*/
}

.card{
    position: relative;
    z-index: 0;
    vertical-align: top;
    margin: 20px 20px;
    display: inline-block;
    width: 300px;
    height: 450px;
    background-color: #2e3440;
    border-radius: 25px;
    padding: 30px;
    text-align: left;
    color: #d8dee9ff; /* eceff4ff */
    font-size: 24pt;

    transition: transform 0.3s ease-in-out 0.0s;

}

.card:hover{
transform: scale(1.05);

}

.card h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
}

.card h3 p{
    display: block;
    padding: 100px;
    color: #d8dee9ff;

}

.card img{
    position: absolute;
    left: 30%;
    width: 40%;
    top:-150px;
    z-index: 0;

    display: block;
    color: #d8dee9ff;

}

.card h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 24pt;
    padding: 0;
    margin: 0;

}

.spotlight{
    position: absolute;
    transform: rotate(-45deg);
    z-index: 0;
    /*rotate: 150,150,0; transform: rotate(41);*/
    width: 500px;
}

.circleIconTalk{
    vertical-align: top;
    display: inline-block;
    margin: 10px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    /*border: black;*/
    border-color: aqua;
    border-width: 5px;
    background-color: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    transition: transform 0.3s ease-in-out 0.0s;

}

.circleIconTalk:hover{
    transform: scale(1.1);
}


.circleIconTalk img{
    vertical-align: center;
    position: relative;
   /* height: 50px;*/
    width: 70px;
    left: 0;
    top:12.5%;
    /*border: black;*/
    border-color: aqua;
    border-width: 5px;
    background-color: transparent;


}

#talkAfterClicked h3{
    font-family: 'Roboto', sans-serif;
}

#talkAfterClicked h6{
    font-family: 'Roboto', sans-serif;
}

#talkAfterClicked {
    margin: 0 30%;
    color: #d8dee9ff;
    transition: opacity 0.3s ease-in-out 0.0s;
    /*text-justify: auto;
    text-align: justify;*/
}

#talkAfterClicked p{

    text-justify: auto;
    text-align: justify;
}


/**  JS added class, should not be added to any class manualy*/
.showTalk{
position: relative;
opacity: 1;
}

@media screen and (max-width:710px){
    talkAfterClicked{
        margin: 0 10%;
    }

    whatIsIt{

        transition: transform 1s ease-in-out 0.2s;
        position: relative;
        width: 22%;
        top:25%;
        margin-top: 250px;
        margin: 0;
        padding-left: 0px;
        left: -200px;
        transform: translate(200px, 0px);

        opacity: 0;

    }


    .parallelogramLeft {
        position: relative;
        width: 250px;
        z-index: 1;

        /*height: 50%;*/
        border-bottom: 400px solid red;
        border-right: 80px solid transparent;
        margin-left: -20px;
        margin-top: -200px;
        /*padding: 30px;*/
    }
    .parallelogramLeftUnder {
        position: absolute;
        width: 250px;
        z-index: 0;

        /*height: 50%;*/
        border-bottom: 400px solid darkred;
        border-right: 80px solid transparent;
        margin-left: -20px;
        margin-top: 270px;
        padding: 30px;
    }

    #MOS_LOGO{
        position: relative;
        min-width: 40%;
    }

    #MOS{
        position: relative;
        min-width: 100%;
    }

    #MOS_BOX{
        position: absolute;
        /*text-align: center;
        vertical-align: center;
        padding: 25%;*/
        /*min-width: 80%;*/
        top: 25%;
        left: 10%;
        width: 80%;
        height: 50%;
        /*margin-top: -25%;
        margin-left: -25%;*/
        text-align: center;
        /*background-color: black;*/

    }

  #TextL{
        padding-left: 40px;
        z-index: 4;
        position: relative;
    }

    #topPage{
        height: 90vh;
        /*background-color: black;*/
    }

    .section{
        width: 100%;
        min-height: 400px;
        height: 100%;
        /*margin-bottom: 50px;*/

    }


#backImg{
    left: -200px;
    top: -200px;
}


}

/*
.parallelogramLeft h2{
    position: absolute;

}*/
